nav{
    background-color: cadetblue;
    width:30%;
    float:left;
    text-align: center;
}

#logo{
    margin: 10px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

button{
    width: 220px;
}